@import 'tailwindcss';
@import './theme.css';

@layer base {
    @font-face {
        font-family: 'Roboto';
        src: url('/fonts/Roboto/Roboto-VariableFont_wdth,wght.woff2') format('woff2-variations');
        font-weight: 125 950;
        font-stretch: 75% 125%;
        font-style: normal;
    }

    html {
        @apply font-light
    }

    h1, h2, h3, h4, h5, h6 {
        @apply font-normal
    }
}

@utility bg-linear-instagram {
    @apply bg-linear-to-r/oklch from-purple-80 via-magenta-100 via-pink-100 via-orange-100 to-yellow-100
}
